{{question-details question=model}}
{{update-question question=model update="update"}}
<hr>

{{#if model.answers}}
<h4>Answers:</h4>
<ul>
  {{#each model.answers as |answer|}}
    <li>{{answer.author}} says: {{answer.text}}</li>
  {{/each}}
</ul>
{{/if}}


<br>
<h4>Leave an answer:</h4>
{{new-answer save="save" question=model}}
